<div id="<%= dom_id cart %>" class="w-full sm:w-auto my-8 space-y-5">
  <div class="overflow-x-auto rounded-xl bg-white">
    <table class="min-w-full table-auto text-sm text-left border-separate border-spacing-y-1">
      <thead>
        <tr class="text-gray-600 uppercase text-xs tracking-wider">
          <th class="px-4 py-2 text-right">Qty</th>
          <th class="px-4 py-2">Product</th>
          <th class="px-4 py-2 text-right">Price</th>
          <th class="px-4 py-2 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render cart.line_items %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" class="p-4 text-right text-base font-semibold text-gray-700">Total:</th>
          <td class="p-4 text-right text-base font-bold text-green-800" colspan="2">
            <%= number_to_currency(cart.total_price) %>
          </td>
        </tr>
      </tfoot>
    </table>
    <%= form_with url: new_order_path, method: :get, data: { controller: "checkout" } do %>
      <%= button_tag 'Checkout',
      type: "submit",
      class: 'ml-4 rounded-lg py-1 px-2 text-black bg-green-200',
      data: {
        checkout_target: "button",
        action: "click->checkout#checkIfOnCheckoutPage"
      } %>
    <% end %>
  </div>
</div>
